#home {
  margin-top: 1em;
  min-width: 320px;
  max-width: 520px;
  background-color: #222222;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #222222;
}

body {
/* Disable text selection so buttons aren't highlighted when rapidly clicked */

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  background-color: #222222;
  margin-bottom: 60px;
  /* margin bottom by footer height */
}

p {
  color: white;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

.intro-title {
  font-size: 3.5em;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

.progress {
  width: 50%;
}

.progress-bar {
  text-align: left;
  color: black;
  font-weight: bold;
}

.clock-time {
  font-family: 'Nova Square', sans-serif;
  font-size: 5em;
  color: white;
}

.play-reset-row {
  font-size: 2em;
  margin-bottom: 1em;
}

#sessionCount {
  color: white;
  font-size: 2em;
}

.time-adjustment-row {
  white-space: nowrap;
}

.task-time-display,
.break-time-display {
  font-size: 2em;
  color: white;
  font-family: 'Nova Square', sans-serif;
}

.settings p {
  text-align: left;
  margin: 4em 0 0 0;
}

.checkbox p {
  text-align: left;
  margin: 0 0 .5em 0;
}
/* Show link pointer so users know icons are clickable */

.icon {
  cursor: pointer;
}

.icon:active {
  transition: .1s;
  transform: scale(1.1);
  opacity: 1;
  position: relative;
  z-index: 99;
}

.footer {
  position: absolute;
  border-top: 1px solid black;
  bottom: 0;
  width: 100%;
  background-color: #222222;
  height: 60px;
  /* Set the fixed height of the footer here */
}

.footer p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #9d9d9d;
  text-align: left;
  margin-left: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}
